<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Create an Account</h2>
            <p>Please fill in the details to register</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-form">
            <app-text-input 
                [formControl]="$any(registerForm.controls['Username'])" 
                [label]="'Username'">
            </app-text-input>

            <div class="form-group">
                <label style="margin-right: 10px;">I am a: </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="male" formControlName="Gender"> Male
                </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="female" formControlName="Gender"> Female
                </label>
            </div>
                <app-text-input [formControl]="$any(registerForm.controls['city'])" 
                    [label]="'city'">
                </app-text-input>


            

            <app-text-input [formControl]="$any(registerForm.controls['Country'])" 
                [label]="'Country'">
            </app-text-input>

            <app-text-input [formControl]="$any(registerForm.controls['PhoneNumber'])" 
                 [label]="'PhoneNumber'">
            </app-text-input>
            
            
            <app-text-input [formControl]="$any(registerForm.controls['Email'])" 
                [label]="'Email'">
            </app-text-input>

            <app-text-input class="form-group" [formControl]="$any(registerForm.controls['Password'])" 
                [label]="'Password'">
            </app-text-input>

            @if (validationErrors.length) {
                <div class="alert alert-danger text-start">
                    <ul>
                        @for (error of validationErrors; track $index) {
                            <li>{{ error }}</li>
                        }
                    </ul>
                </div>
            }
            

            <div class="form-group text-center">
                <button  class="btn btn-success me-2" type="submit">Register</button>
                <button class="btn btn-default me-2"  type="button">Cancel</button>
            </div>


            <div class="login-footer">
                <p>Already have an account? <a routerLink="/login">Sign In</a></p>
            </div>
        </form>
    </div>
</div>